*.orig
*.rej
*#
*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
aclocal.m4
autom4te.cache
build-stamp
config
config.log
config.guess
config.status
config.sub
configure
confdefs.h
conftest
conftest.c
conftest.out
debian/files
debian/vyatta-cfg-system
debian/vyatta-cfg-system.postinst
debian/*.log
debian/*.substvars
debian/.debhelper
INSTALL
Makefile.in
Makefile
src/valid_address
src/local_ip
src/hypervisor_vendor
generated-templates/*
