*.orig
*.rej
*#
*~
.*.swp
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/vyatta-cfg-system
/debian/vyatta-cfg-system.postinst
/debian/*.log
/debian/*.substvars
/INSTALL
/Makefile.in
/Makefile

