*~
.*.swp
/aclocal.m4
/autom4te.cache
/build-stamp
/ChangeLog
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/vyatta-cfg-system
/debian/vyatta-cfg-system.postinst
/INSTALL
/Makefile.in
/Makefile
/scripts/install-system

