Source: vyatta-cfg-system
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-cfg-system
Architecture: all
Depends:  acpid,
 adduser,
 sed (>= 4.1.5),
 perl (>= 5.8.8),
 libnetaddr-ip-perl,
 procps (>= 1:3.2.7-3),
 coreutils (>= 5.97-5.3),
 libpam-radius-auth,
 vyatta-cfg (>= 0.16.5),
 libpam-runtime (>= 1.0.1-5),
 vyatta-bash | bash (>= 3.1),
 sysv-rc,
 ntp (>= 4.2.4p6+vyatta-7),
 sysklogd,
 vyatta-busybox,
 whois,
 sudo,
 snmpd (>= 5.4.2.1-vyatta11),
 vyatta-keepalived (>= 1.1.15-1-vyatta-5),
 bridge-utils,
 ethtool,
 ssh (>= 1:5.1p1-5),
 openssh-server (>= 1:5.1p1-3),
 ed,
 ifupdown,
 tshark,
 iputils-arping,
 installation-report,
 laptop-detect,
 usbutils,
 tasksel,
 snmp,
 tcpdump,
 dnsmasq (>= 2.45-1+lenny1),
 mdadm,
 ddclient (>= 3.7.3-4.2),
 libio-socket-ssl-perl,
 vyatta-biosdevname,
 ipvsadm (>= 1:1.24-2.1),
 radvd (>= 1:1.1-3),
 hostapd (>= 1:0.6.9-3)
Pre-Depends: bash-completion
Suggests: util-linux (>= 2.13-5),
 net-tools,
 ncurses-bin (>= 5.5-5),
 ntpdate
Replaces: vyatta-cfg (<< 0.16),
 vyatta-cfg-quagga (<< 0.18.17)
Description: Vyatta system-level configuration templates/scripts
 Vyatta system-level configuration templates and scripts.
