Source: vyatta-cfg-system
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, cpio
Standards-Version: 3.9.1

Package: vyatta-cfg-system
Architecture: any
Depends:  adduser,
 dialog,
 sed (>= 4.1.5),
 perl (>= 5.10.1),
 libnetaddr-ip-perl,
 procps (>= 1:3.2.7-3),
 coreutils (>= 5.97-5.3),
 vyatta-cfg (>= 0.100.1),
 libc6 (>= 2.7-6),
 libpam-runtime (>= 1.0.1-5),
 vyatta-bash | bash (>= 3.1),
 sysv-rc,
 udev (>= 160-1),
 rsyslog | system-log-daemon,
 busybox,
 sudo,
 ed,
 installation-report,
 laptop-detect,
 mgetty,
 tasksel,
 tcpdump,
 mdadm,
 libio-socket-ssl-perl,
 ipvsadm (>= 1:1.24-2.1),
 radvd (>= 1:1.1-3),
 apt-transport-https,
 libcap2-bin (>= 2.19),
 isc-dhcp-client,
 iproute2,
 curl,
 parted,
 libpam-cap,
 efibootmgr,
 libefivar0 | libefivar1,
 grub-efi-amd64-bin [amd64],
 grub-efi-arm64-bin [arm64],
 dosfstools,
 gdisk,
 vyatta-biosdevname
Pre-Depends: bash-completion
Suggests: util-linux (>= 2.13-5),
 net-tools,
 ncurses-bin (>= 5.5-5),
 ntpdate
Description: VyOS system-level configuration
 VyOS system-level configuration utiliites, templates and scripts.
