Source: vyatta-cfg-system
Section: contrib/net
Priority: extra
Maintainer: An-Cheng Huang <ancheng@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-cfg-system
Architecture: all
Depends: sed (>= 4.1.5),
 perl (>= 5.8.8),
 libnetaddr-ip-perl,
 procps (>= 1:3.2.7-3),
 coreutils (>= 5.97-5.3),
 libpam-radius-auth,
 vyatta-cfg,
 vyatta-bash | bash (>= 3.1),
 sysv-rc,
 ntp,
 sysklogd,
 vyatta-busybox,
 grub-pc,
 whois,
 sudo,
 vyatta-snmpd | snmpd,
 vyatta-keepalived | keepalived,
 bridge-utils,
 ssh,
 ed,
 tshark,
 iputils-arping
Suggests: util-linux (>= 2.13-5),
 net-tools,
 ethtool,
 ncurses-bin (>= 5.5-5),
 ntpdate
Description: Vyatta system-level configuration templates/scripts
 Vyatta system-level configuration templates and scripts.
