# These rules use vyatta_net_name to persistently name network interfaces
# per "hwid" association with the interface block of the vyatta config file.

ACTION!="add",				GOTO="vyatta_net_end"
SUBSYSTEM!="net",			GOTO="vyatta_net_end"

# Do name change for ethernet devices only
KERNEL=="eth*", DRIVERS=="?*",\
	PROGRAM="vyatta_net_name %k $attr{address}", \
	NAME="%c"

# This keeps udev persistent net rules from trying to do anything
# with multiple SSID's per device
# TODO: Add proper persistent network based on Vyatta config
#     but right now there is insufficient info in sysfs to uniquely
#     determine device name based on hardware information
KERNEL=="wlan*", DRIVERS=="?*", NAME="%k"

LABEL="vyatta_net_end"

